{{ form_start(form , {'attr' : {'novalidate':'novalidate'}} ) }}
  <div>
Titre <span style="color: red;"><b>*</b></span>    {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.nom) }}
  </div>

  <div>
Prix <span style="color: red;"><b>*</b></span>   {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.prix) }}

  </div>

  <div>
Description <span style="color: red;"><b>*</b></span>
     {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'rows': 6} }) }}
    {{ form_errors(form.description) }}
  </div>
 <br><br>
  <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
