{{ form_start(form) }}




<h6>Nom</h6>
{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
<h6>Prenom</h6>

{{ form_widget(form.prenom , {'attr': {'class': 'form-control'}}) }}
<h6>CIN</h6>

{{ form_widget(form.cin , {'attr': {'class': 'form-control'}}) }}
<h6>Ville</h6>

{{ form_widget(form.ville , {'attr': {'class': 'form-control'}}) }}
<h6>Telephone</h6>

{{ form_widget(form.telephone , {'attr': {'class': 'form-control'}}) }}
<h6>sexe</h6>

{{ form_widget(form.sexe , {'attr': {'class': 'form-control'}}) }}
<h6>Date de Naissance</h6>

{{ form_widget(form.dateDeNaissance , {'attr': {'class': 'form-control'}}) }}
<h6>Description</h6>

{{ form_widget(form.description , {'attr': {'class': 'form-control'}}) }}

<br><br>
<button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>

{{ form_end(form) }}   
