{% extends 'base.html.twig' %}

{% block title %}Fiche Patient 
{% endblock %}

{% block body %}
	<h1>Fiche Patient</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>CIN</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Ville</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for fiche_patient in fiche_patients %}
				<tr>
					<td>{{ fiche_patient.id }}</td>
					<td></td>
					<td>{{ fiche_patient.nom }}</td>
					<td>{{ fiche_patient.prenom }}</td>
					<td>{{ fiche_patient.ville }}</td>
					<td>
						<a class="btn btn-outline-secondary" href="{{ path('app_fiche_patient_show', {'id': fiche_patient.id}) }}">montrer</a>
						<a class="btn btn-outline-warning" href="{{ path('app_fiche_patient_edit', {'id': fiche_patient.id}) }}">modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('app_fiche_patient_new') }}">Créer un nouveau</a>
{% endblock %}
