{% extends 'xbase/base.html.twig' %}

{% block title %}Fiche Patient
{% endblock %}

{% block body %}
<style>
	th{color: black;}
	td{color: black;}
</style>

<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
 				<h1>Liste des fiches patients
				</h1>
				<form class="form-inline my-2 my-lg-0" method="get">
					<div class="row">
						<div class="col-10"><input class="form-control mr-sm-2" name="search" type="search" placeholder="Recherche par CIN , Nom et prenom , Ville"
								aria-label="Search"></div>
						<div class="col-2"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button></div>
						<div class="col-2"></div>
					</div>
				</form>
			</div>
 


 	<table style="width: 800px;margin-left: 20%;" class="table">
		<thead>
			<tr>
 				<th>CIN</th>
				<th>Nom et Prénom</th>
				<th>Ville</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for fiche_patient in fiches %}
				<tr>
 					<td>{{ fiche_patient.cin }}</td>
					<td>
						{{ fiche_patient.nom }}
						-
						{{ fiche_patient.prenom }}
					</td>
					<td>{{ fiche_patient.ville }}</td>
					<td>
						<a class="btn btn-secondary" href="{{ path('app_fiche_patient_show', {'id': fiche_patient.id}) }}">Consulter</a>
						<a class="btn btn-warning" href="{{ path('app_fiche_patient_edit', {'id': fiche_patient.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
<nav class="app-pagination mt-5">
  <ul class="pagination justify-content-center">
    {{ knp_pagination_render(fiches) }}
  </ul></nav>
</div>
	<a class="btn btn-primary" href="{{ path('app_fiche_patient_new') }}">Ajouter</a>
{% endblock %}
