{% extends 'base.html.twig' %}

{% block title %}Fiche Patient
{% endblock %}

{% block body %}
<h1><b><i>Liste des fiches patients</i></b> </h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>CIN</th>
			<th>Nom et prénom</th>
			<th>Ville</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for fiche_patient in fiche_patients %}
		<tr>
			<td>{{ fiche_patient.id }}</td>
			<td>{{ fiche_patient.cin }}</td>
			<td> {{ fiche_patient.nom }} - {{ fiche_patient.prenom }} </td>
			<td>{{ fiche_patient.ville }}</td>
			<td>
				<a class="btn btn-secondary"
					href="{{ path('app_fiche_patient_show', {'id': fiche_patient.id}) }}">Montrer</a>
				<a class="btn btn-warning"
					href="{{ path('app_fiche_patient_edit', {'id': fiche_patient.id}) }}">Modifier</a>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="9">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a class="btn btn-primary" href="{{ path('app_fiche_patient_new') }}">Ajouter</a>
{% endblock %}