{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Comment </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.createdat ? comment.createdat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.description }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">Consulter</a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">Créer un nouveau</a>
{% endblock %}
