{% extends 'xbase/base.html.twig' %}

{% block title %}nouveau LettreSuivies{% endblock %}

{% block body %}
<div class="container-xxl py-5">
    <div class="container">
        <h1>Continuer votre Lettre d'affectation </h1>

      <h4>Chère/Cher {{lettre.ortho.nom}},</p>
                {{ form_start(form) }}
{{ form_widget(form.p1, {'attr': {'class': 'form-control',   'rows': 7 ,'style': 'width: 100%;'}, 'value': "
J'espère que vous vous portez bien. Je tenais à vous informer des progrès de  " ~ lettre.nomP ~ " depuis notre dernière évaluation / traitement , qui a eu lieu le [ date ]. Après avoir observé attentivement son développement et son engagement , je suis heureux/se de vous faire part des observations suivantes :

" | raw }) }}
{{ form_widget(form.p2, {'attr': {'class': 'form-control',  'rows': 16 , 'style': 'width: 100%;'}, 'value': " 
État actuel : Depuis notre dernière séance ,  " ~ lettre.nomP ~ " a montré des signes encourageants de progression dans divers domaines de traitement . Ses compétences en [ domaine spécifique , par exemple : la prononciation des consonnes , la compréhension des instructions verbales , etc. ] se sont améliorées de manière significative . Il / elle semble plus à l'aise et confiant(e) dans ses interactions communicatives .
Compréhension et coopération:  " ~ lettre.nomP ~ " a démontré une compréhension accrue des exercices et des recommandations fournies lors de nos séances précédentes . Sa coopération pendant les sessions s'est également améliorée , ce qui a favorisé un environnement de travail plus productif .
Stratégies et exercices recommandés: Suite à nos observations , j'ai ajusté notre approche thérapeutique en intégrant de nouveaux exercices et en renforçant certains aspects spécifiques . Les exercices de [mentionnez les | exercices spécifiques ] ont été particulièrement bénéfiques et ont contribué à consolider les progrès réalisés par  " ~ lettre.nomP ~ " .
Objectifs à court et long terme: En tenant compte des progrès actuels et des défis persistants , nous avons établi les objectifs suivants pour  " ~ lettre.nomP ~ " :
 
Objectifs à court terme: Consolidation des acquis actuels , renforcement des compétences spécifiques en [ domaines à améliorer ] .
Objectifs à long terme: Développement d'une communication fluide et efficace dans divers contextes , amélioration de l'autonomie et de la confiance en soi .

" | raw }) }}



{{ form_widget(form.p3, {'attr': {'class': 'form-control',  'rows': 7 , 'style': 'width: 100%;'}, 'value': "
Je reste disponible pour toute clarification ou discussion supplémentaire concernant le plan de traitement ou les progrès de  " ~ lettre.nomP ~ " . Je vous remercie de votre collaboration continue et de votre dévouement envers le bien - être de  " ~ lettre.nomP ~ " .

 " | raw }) }}
 
            <div class="" hidden>
{{ form_widget(form.p6, {'attr': {'type': 'hidden'}}) }}
{{ form_widget(form.p4, {'attr': {'type': 'hidden'}}) }}
{{ form_widget(form.p5, {'attr': {'type': 'hidden'}}) }}
 Cordialement,
        {{app.user.nom}}
        [ Titre ou fonction ]
        [ Coordonnées de contact ]
</div>



           
            <br>
            
            Cordialement,  
            <br>
            <div class="text-end" >
             <button class="btn btn-primary">{{ button_label|default('Envoyer') }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
</svg></button>
            </div>
           
            </p>      
    </div>


    

    
{{ form_end(form) }}




    
  

  


    {% endblock %}