<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Bienvenue!
		{% endblock %}
	</title>



	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">


	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
	<link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
	<link href="{{asset('assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
	<link href="{{asset('assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
	<link href="{{asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
	<link href="{{asset('assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="{{asset('assets/css/style.css')}}" rel="stylesheet">


	<link rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
	{% block stylesheets %}{% endblock %}


</head>

<body>
	<style>
		.golden-btn+.golden-btn {
			margin-top: 1em;
		}

		.golden-btn {
			display: inline-block;
			outline: none;
			font-family: inherit;
			font-size: 1em;
			box-sizing: border-box;
			border: none;
			border-radius: .3em;
			height: 2.75em;
			line-height: 2.5em;
			text-transform: uppercase;
			padding: 0 1em;
			box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
				inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
				inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
			background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
			border: 1px solid #a55d07;
			color: rgb(120, 50, 5);
			text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
			cursor: pointer;
			transition: all .2s ease-in-out;
			background-size: 100% 100%;
			background-position: center;
		}

		.golden-btn:focus,


		.golden-btn:active {
			box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
				inset 0 -2px 5px 1px #b17d10,
				inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
		}
	</style>

	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center">
				<img src="assets/img/logo.png" alt="">
				<span class="d-none d-lg-block">Orthophonistes</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div>
		<!-- End Logo -->


		<!-- End Search Bar -->

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">



				<nav class="header-nav ms-auto">
					<ul class="d-flex align-items-center">




						<li class="nav-item dropdown">

							<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
								<i class="bi bi-bell"></i>
								 
							</a>
							<!-- End Notification Icon -->

							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
								<li class="dropdown-header">
 									<a href="/notification">
										Cliquer pour voir toutes les notifications

										<span class="badge rounded-pill bg-primary p-2 ms-2">Voir touts</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
					{% for x in notifications %}

						<li class="notification-item">
									<i class="bi bi-info-circle text-primary"></i>
									<div>
									
										<h4>{{x.type}}
										{% if not x.readed %}
 									{% endif %}
										</h4>
										<p>{{x.description}}</p>
										<p>{{x.createdat |date('j-M-Y')}}</p>
									</div>
								</li>

								<li>
									<hr class="dropdown-divider">
								</li>
					{% endfor %}
								
								<li class="dropdown-footer">
									<a href="/notification">voit touts</a>
								</li>

							</ul>
							<!-- End Notification Dropdown Items -->

						</li>
						<!-- End Notification Nav -->


						<!-- End Messages Nav -->

						<li class="nav-item dropdown pe-3">
							{% if app.user %}
							<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
								data-bs-toggle="dropdown">
								<img src="{{ asset('images/user/' ~ app.user.image) }}" style="border-radius: 60px;" height="50px" width="37px">
								<span class="d-none d-md-block dropdown-toggle ps-2">


									{{app.user.nom}}


									<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
										data-bs-toggle="dropdown">

										{% else %}

										<a class="btn btn-success  align-items-center ml-5" href="/login">Connecte-toi
											maintenant</a>

										{% endif %}

								</span>
							</a>
							<!-- End Profile Iamge Icon -->

							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

								<li class="dropdown-header">
									<img height="50px" width="50px" src="{{ asset('images/user/' ~ app.user.image) }}" alt="Profile" class="rounded-circle">

									<h6>{{app.user.nom}}</h6>
									<span>{{app.user.email}}</span>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>

									{% set id = app.user.id %}


									<a class="dropdown-item d-flex align-items-center" href="/user/{{id}}">
										<i class="bi bi-person"></i>
										<span>Profil</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center" href="/user/{{id}}/edit">
										<i class="bi bi-gear"></i>
										<span>Modifier profil</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center " href="/logout">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
											<path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
											<path
												d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z" />
										</svg>
										<span>Dconnexion</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>


						</li>
					</ul>
					</li>
				</nav>
				<!-- End Icons Navigation -->


	</header>
	<aside id="sidebar" class="sidebar">
 		<ul class="sidebar-nav" id="sidebar-nav">


			<li class="nav-item">
				<a class="nav-link collapsed" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-house" viewBox="0 0 16 16">
						<path
							d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
					</svg> <span style="margin-left: 15px;">Dashboard</span>
				</a>
			</li>



		 




			<!-- End Blank Page Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" href="/abonnement">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-duffle" viewBox="0 0 16 16">
						<path
							d="M8 5.75c1.388 0 2.673.193 3.609.385a18 18 0 0 1 1.43.354l.112.034.002.001h.001a.5.5 0 0 1-.308.952l-.004-.002-.018-.005a17 17 0 0 0-1.417-.354A17.3 17.3 0 0 0 8 6.75a17.3 17.3 0 0 0-3.408.365 17 17 0 0 0-1.416.354l-.018.005-.003.001a.5.5 0 1 1-.308-.95A17.3 17.3 0 0 1 8 5.75" />
						<path
							d="M5.229 2.722c-.126.461-.19.945-.222 1.375-1.401.194-2.65.531-3.525 1.012C-.644 6.278.036 11.204.393 13.127a.954.954 0 0 0 .95.772h13.314a.954.954 0 0 0 .95-.772c.357-1.923 1.037-6.85-1.09-8.018-.873-.48-2.123-.818-3.524-1.012a7.4 7.4 0 0 0-.222-1.375c-.162-.593-.445-1.228-.971-1.622-1.115-.836-2.485-.836-3.6 0-.526.394-.81 1.03-.971 1.622M9.2 1.9c.26.195.466.57.606 1.085.088.322.142.667.173.998a23.3 23.3 0 0 0-3.958 0 6 6 0 0 1 .173-.998c.14-.515.346-.89.606-1.085.76-.57 1.64-.57 2.4 0M8 4.9c2.475 0 4.793.402 6.036 1.085.238.13.472.406.655.93.183.522.28 1.195.303 1.952.047 1.486-.189 3.088-.362 4.032H1.368c-.173-.944-.409-2.545-.362-4.032.024-.757.12-1.43.303-1.952.183-.524.417-.8.655-.93C3.207 5.302 5.525 4.9 8 4.9" />
					</svg> <span style="margin-left: 15px;">Abonnement</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" href="/notification">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
						<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
					  </svg> <span style="margin-left: 15px;">Notification</span>
				</a>
			</li>



	<li class="nav-item">
				<a class="nav-link collapsed" href="/facture">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
</svg> <span style="margin-left: 15px;">Factures</span>
				</a>
			</li>




			<li class="nav-item">
				<a class="nav-link collapsed" href="/user">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-people" viewBox="0 0 16 16">
						<path
							d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
					</svg> <span style="margin-left: 15px;">Utilisateurs</span>
				</a>
			</li>



			<!-- End Blank Page Nav -->

		</ul>

	</aside>
	<main id="main" class="main"> {% block body %}{% endblock %}

	</main>

	<!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
		<i class="bi bi-arrow-up-short"></i>
	</a>

	<!-- Vendor JS Files -->
	<script src="{{asset('assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
	<script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
	<script src="{{asset('assets/vendor/chart.js/chart.umd.js')}}"></script>
	<script src="{{asset('assets/vendor/echarts/echarts.min.js')}}"></script>
	<script src="{{asset('assets/vendor/quill/quill.min.js')}}"></script>
	<script src="{{asset('assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
	<script src="{{asset('assets/vendor/tinymce/tinymce.min.js')}}"></script>
	<script src="{{asset('assets/vendor/php-email-form/validate.js')}}"></script>

	<!-- Template Main JS File -->
	<script src="{{asset('assets/js/main.js')}}"></script>
</body>

</html>
</body>

</html>