{% extends 'base.html.twig' %}

{% block title %}LettreSuivies index
{% endblock %}

{% block body %}
	<h1>Listes des lettres </h1>

	 <div class="row">
		<div class="col-5"><img src="{{asset('lettres/1.png')}}" alt=""></div>
		<div class="col-1"></div>
		<div class="col-5 mr-3"><img src="{{asset('lettres/2.png')}}" alt=""></div>
	 </div>
	 <div class="row">
		<div class="col-5"><img src="{{asset('lettres/3.png')}}" alt=""></div>
		<div class="col-1"></div>

		<div class="col-5"><img src="{{asset('lettres/4.png')}}" alt=""></div>
	 </div>
	 <div class="row">
		<div class="col-5"><img src="{{asset('lettres/5.png')}}" alt=""></div>
		<div class="col-1"></div>

		<div class="col-5"></div>
	 </div>

 {% endblock %}
