{% extends 'xbase/base.html.twig' %}

{% block title %}LettreSuivies index
{% endblock %}

{% block body %}
 
<style>

.cadre-photo {
    width: 460px;
    height: 600px;
    overflow: hidden;  
	margin-left: 100px;
	margin-bottom: 100px;
}

.cadre-photo img {
    width: 100%; 
    height: 100%; 
    display: cover;  
	border: 1px solid black; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Ombre avec décalage de 5px en horizontal et vertical, flou de 10px, couleur noire avec une opacité de 0.5 */


}

</style>
	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
 				<h1>Historique des lettres
				</h1>
			</div>

			<div class="row g-4">
			 
				{% for x in lettre_suivies %}

				
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item bg-light rounded h-100 p-5">
							<div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
								<span class="fa fa-coin  text-primary fs-4">
									
									{% if x.createdby == app.user %}
									<svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-envelope-arrow-up" viewBox="0 0 16 16">
										<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4.5a.5.5 0 0 1-1 0V5.383l-7 4.2-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-1.99zm1 7.105 4.708-2.897L1 5.383zM1 4v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1"/>
										<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354 1.25 1.25a.5.5 0 0 1-.708.708L13 12.207V14a.5.5 0 0 1-1 0v-1.717l-.28.305a.5.5 0 0 1-.737-.676l1.149-1.25a.5.5 0 0 1 .722-.016"/>
									  </svg>
									  {% else %}
									  <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-envelope-arrow-down" viewBox="0 0 16 16">
										<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4.5a.5.5 0 0 1-1 0V5.383l-7 4.2-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-1.99zm1 7.105 4.708-2.897L1 5.383zM1 4v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1"/>
										<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-1.646a.5.5 0 0 1-.722-.016l-1.149-1.25a.5.5 0 1 1 .737-.676l.28.305V11a.5.5 0 0 1 1 0v1.793l.396-.397a.5.5 0 0 1 .708.708z"/>
									  </svg>
									  {% endif %}




</span>
													

							</div>
							
							<h4 class="mb-3">Lettre de {{x.type}}</h4>
							<p class="mb-4"> Concernant <b><i>Mr/MMe {{x.nomP}}</i></b></p>
							<h4 class="text-end"> {{x.date| date('d-M-Y')}}</h4>
							<a class="btn" href="{{x.id}}">
								<i class="fa fa-eye text-primary me-3"></i>Consulter
							</a>
						</div>
					</div>

				{% endfor %}
			</div>
		</div> <br><br><br>
		
		<nav class="app-pagination mt-5">
  <ul class="pagination justify-content-center">
    {{ knp_pagination_render(lettre_suivies) }}
  </ul></nav>
			<a class="btn btn-primary" href="{{ path('app_lettre_suivies_new') }}">Ajouter</a>

	</div>

 {% endblock %}
