{% extends 'xbase/base.html.twig' %}

{% block title %}LettreSuivies
{% endblock %}

{% block body %}
<style>
	p{color: black;}
</style>
	
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
 			<h1>Lettre de {{lettre.type}} </h1>
		</div>

		<p style="font-family: Arial, sans-serif; font-size: 20px;color: black;"> <br>  <br> Cher(e) <b> <i>{{lettre.ortho.nom}} </i></b>
		<p>{{lettre.p1|nl2br|raw}}</p>
		<p>{{lettre.p2|nl2br|raw}}</p>
		<p>{{lettre.p3|nl2br|raw}}</p>
		<p>{{lettre.p4|nl2br|raw}}</p>
		<p>{{lettre.p5|nl2br|raw}}</p>
		<p>{{lettre.p6|nl2br|raw}}</p>
		<p>{{lettre.p7|nl2br|raw}}</p>
		<br>
		
            
<p>Cordialement,</p>		

<style>
.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
  }
  
  .darker {
	border-color: #ccc;
	background-color: #ddd;
  }
  
  .container::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .container img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
  }
  
  .container img.right {
	float: right;
	margin-left: 20px;
	margin-right:0;
  }
  
  .time-right {
	float: right;
	color: #aaa;
  }
  
  .time-left {
	float: left;
	color: #999;
  }
  </style>
<br>
</div>

{% if app.user.email == lettre.createdby.email %}
	
<div class="text-start">
	 <h4 style="color: red;"> <a  style="color: red;" href="/lettre/{{lettre.id}}/delete/lettre">
	 <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
	<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
	<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
  </svg>supprimer la lettre</h4></a></div> <br><br>


  {% endif %}



<h5>Ajouter votre commentaire ici
</h5> 
{{ form_start(formulaire) }}
<div class="row">
	<div class="col-10">{{ form_widget(formulaire.description , {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-2">    <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
	</div>
</div>
{{ form_end(formulaire) }}

<div class="container">
	{% for x in comments %}
		{% if not x.parent %}
			
		
	
		<img  style="border-radius: 100px;"  height="50px" width="50px" src="{{ asset('images/user/' ~ x.sender.image) }}" alt="">
		<p><b><i>{{x.sender.nom}}</i></b></p>
		<div class="row">
			<div class="col-10">	<p>{{x.description}}</p>
			</div>
			<div class="col-2">
				
				<a href="{{ path('app_comment_delete', {'id': x.id}) }}">
				<svg class="text-end text-danger" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
				<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
				<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
			  </svg>  </a></div>
		</div>	<span class="time-right">{{x.createdat|date('d-m-Y h:m')}}</span>
	<form method="get">

		<input hidden   name="comment"   type="number" value="{{x.id}}" >
		<input hidden   name="submitted"   type="number" value="1" >
<div class="row">
	<div class="col-1">

	</div>
	<div class="col-9">
		<input class="form-control" type="text" name="description" >

	</div>
	<div class="col-2"><Button class="btn btn-secondary" type="submit" >Répondre</Button>
	</div>
</div>
<br>

</form>

{% for x in x.comments %}
<div style="margin-left: 50px;"   >
	<img  style="border-radius: 100px;"  height="50px" width="50px" src="{{ asset('images/user/' ~ x.sender.image) }}" alt="">
	<p><b><i>{{x.sender.nom}}</i></b></p>
	
	<div class="row">
		<div class="col-10">	<p>{{x.description}}</p>
		</div>
		<div class="col-2">
			
			<a href="{{ path('app_comment_delete', {'id': x.id}) }}">
			<svg class="text-end text-danger" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
			<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
			<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
		  </svg>  </a></div>
	</div>
	
	<span class="time-right">{{x.createdat|date('d-m-Y h:m')}}</span>
	 
</div>
{% endfor %}

	{% endif %}
 	{% endfor %}
  </div>
  



	{% endblock %}