{% extends 'xbase/base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .letter {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }

    header {
        text-align: center;
    }

    header h1 {
        margin: 0;
    }

    main {
        margin-top: 20px;
    }

    .info p {
        margin-bottom: 10px;
    }

    footer {
        margin-top: 20px;
    }

    footer p {
        font-weight: bold;
    }
</style>
<div class="letter">
    <header>
        <h1>Facture Ref° {{facture.id}}</h1>
    </header>
    <main>
        <div class="info">
            <p><strong>Date:</strong> {{facture.createdat| date('d-m-Y')}}</p>
            <p><strong>Client nom :</strong> {{facture.reciever.nom}}</p>
            <p><strong>Client email:</strong> {{facture.reciever.email}}</p>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Ref°</td>
                        <td>nom</td>
                        <td>unité</td>

                        <td>prix</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{facture.abonnement.id}}</td>
                        <td>{{facture.abonnement.nom}}</td>
                        <td>TND/Mois</td>
                        <td>{{facture.abonnement.prix}}</td>

                        
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>TVA</td>
                        <td>19%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Totale</td>
                        <td>   <b><i> {{facture.totale}} TND/Mois</i></b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
       </footer>
       
</div>
 
</body>
 


{% endblock %}