{% extends 'base.html.twig' %}

{% block title %}Model index{% endblock %}

{% block body %}
    <h1>Model index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.id }}</td>
                <td>{{ model.path }}</td>
                <td>{{ model.nom }}</td>
                <td>
                    <a href="{{ path('app_model_show', {'id': model.id}) }}">show</a>
                    <a href="{{ path('app_model_edit', {'id': model.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
