{% extends 'base.html.twig' %}

{% block title %}Model{% endblock %}

{% block body %}
    <h1>Model</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ model.id }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ model.path }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ model.nom }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-secondary" href="{{ path('app_model_edit', {'id': model.id}) }}">Consulter</a>

    {{ include('model/_delete_form.html.twig') }}
{% endblock %}
