{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
    <h1><b><i>Modifier mon compte</i></b></h1><br>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_label(form.nom, 'Nom et prénom') }}
    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.nom, {'attr': {'class': 'text-danger'}}) }}

    {{ form_label(form.email, 'Adresse email') }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}

    {{ form_row(form.image, {'attr': {'class': 'form-control'}}) }}

    
  
<br>
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>

    {{ form_end(form) }}
    <br>
    <a class="btn btn-secondary" href="/reset-password/pass"> Cliquer pour changer votre mot de passe  </a>

{% endblock %}
