{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
<h1>
	<b>
		<i>Liste des utilisateurs</i></b>
</h1>

<form class="form-inline my-2 my-lg-0" method="get">
	<div class="row">
		<div class="col-6"><input class="form-control mr-sm-2" name="search" type="search" placeholder="Recherche par Nom , Prenom ou Email"
				aria-label="Search"></div>
		<div class="col-2"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button></div>
		<div class="col-2"></div>
	</div>
</form>
 

<br><br>


<table class="table">
	<thead>
		<tr>
			<th></th>

			<th>Nom</th>

			<th>Email</th>
			<th>Role</th>
			<th  class="text-center" >Statut</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td><img src="{{ asset('images/user/' ~ user.image) }}" style="border-radius: 50px;" height="30px" width="30px"></td>
			<td>{{ user.nom }}</td>
			<td>{{ user.email }}</td>

			{% if user.roles == ["ROLE_USER"] %}
			<td>Orthophoniste</td>

	 
		{% if user.accepted == 1 %}
    <td   class="bg- text-center" ><svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
		<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
	  </svg></td>
{% elseif user.accepted is null %}
    <td class=" bg- text-center"  ><svg style="color: rgb(234, 234, 11);" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
		<path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
	  </svg></td>
{% else %}
    <td class="bg- text-center"> 
	  <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
		<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
	  </svg>
	  </td>
{% endif %}
 			
		 
			{% else %}
			<td  >Administrateur</td>
			<td></td>
			{% endif %}



			<td>
				<a class="btn btn-secondary" href="{{ path('app_user_show', {'id': user.id}) }}">Consulter</a>
 			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="6">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a class="btn btn-primary" href="{{ path('app_user_new') }}">Ajouter administrateur</a>



<nav class="app-pagination mt-5">
	<ul class="pagination justify-content-center">
	  {{ knp_pagination_render(users) }}
	</ul></nav>

{% endblock %}