{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
<h1>
	<b>
		<i>Liste des utilisateurs</i></b>
</h1>

<form class="form-inline my-2 my-lg-0" method="get">
	<div class="row">
		<div class="col-6"><input class="form-control mr-sm-2" name="search" type="search" placeholder="Recherche par Nom , Prenom ou Email"
				aria-label="Search"></div>
		<div class="col-2"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button></div>
		<div class="col-2"></div>
	</div>
</form>
 

<br><br>


<table class="table">
	<thead>
		<tr>
			<th></th>

			<th>Nom</th>

			<th>Email</th>
			<th>Role</th>
			<th  class="text-center" >Statue</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td><img src="{{ asset('images/user/' ~ user.image) }}" style="border-radius: 50px;" height="30px" width="30px"></td>
			<td>{{ user.nom }}</td>
			<td>{{ user.email }}</td>

			{% if user.roles == ["ROLE_USER"] %}
			<td>Orthophoniste</td>

	 
		{% if user.accepted == 1 %}
    <td   class="bg-success" >Accepté</td>
{% elseif user.accepted is null %}
    <td class=" bg-warning"  >En attente de l'acceptation de l'administrateur</td>
{% else %}
    <td class="bg-danger" >Refusé</td>
{% endif %}
 			
		 
			{% else %}
			<td  >Administrateur</td>
			<td></td>
			{% endif %}



			<td>
				<a class="btn btn-secondary" href="{{ path('app_user_show', {'id': user.id}) }}">Consulter</a>
 			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="6">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a class="btn btn-primary" href="{{ path('app_user_new') }}">Ajouter administrateur</a>

{% endblock %}