{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
<h1><b><i>Ajouter un admin</i></b></h1>

{{ form_start(form ) }}

{{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
{{ form_row(form.email , {'attr': {'class': 'form-control'}}) }}
{{ form_label(form.password, 'Mot de passe') }}
{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
{{ form_label(form.image, 'Image') }}
{{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}




<br><br>
<button type="submit" class="btn btn-success">Ajouter</button>
{{ form_end(form) }}

{% endblock %}