{% extends 'xbase/base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

<style>

td{color: black;}
th{color: black;}


</style>


<section class="section register min-vh-200 d-flex flex-column align-items-center justify-content-center  ">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-6 d-flex flex-column align-items-center justify-content-center">
	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
 			<h1>Mon Profile
			</h1>
		</div>
<div class="row">
 </div>
	<table class="table">
		<tbody>
			 <tr>
 				<td class="text-center" colspan="2"><img  style="border-radius: 100px;"  height="190px" width="190px" src="{{ asset('images/user/' ~ user.image) }}" alt=""></td>
			</tr>
			 <tr>
				<th>Nom</th>
				<td>{{ user.nom }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Matricule</th>
				<td>{{ user.matricule }}</td>
			</tr>
			<tr>
				<th>Roles</th>
 			<td>Orthophoniste</td>


			 
			</tr>
			<tr>
				<th>Statut de compte</th>
		{% if user.accepted == 1 %}
    <td   class="bg- " ><svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
		<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
	  </svg></td>
{% elseif user.accepted is null %}
    <td class=" bg-"  ><svg style="color: rgb(234, 234, 11);" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
		<path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
	  </svg></td>
{% else %}
    <td class="bg- " > <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
		<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
	  </svg></td>
{% endif %}
 			
			</tr>
			 
{% if user.profil %}
{% set x = user.profil %}
			<tr>
				<th>Emplacement</th>
				<td>{{ x.emplacement }}</td>
			</tr>
			<tr>
				<th>Diplome</th>
				<td>{{ x.diplome }}</td>
			</tr>
			<tr>
				<th>Faculte</th>
				<td>{{ x.faculte }}</td>
			</tr>
			<tr>
				<th>Specialité</th>
				<td>{{ x.specialite }}</td>
			</tr>
{% endif %}






		</tbody>
	</table>





	<div class="row">
		<div class="col">
			<a class="btn btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier 

				<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
					<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
				  </svg>
			</a>
		
		</div>
		<div class="col">
			
		


{% if not app.user.profil %}
	
<div class="text-end">
	<a  class="btn btn-secondary " href="/profil/new/{{user.id}}">Continuer Mon Profile <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
	  </svg></a>
</div>
{% else %}
<div class="">
	<a  class="btn btn-secondary " href="/profil/{{user.profil.id}}/edit">Modifier mes informations  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
	  </svg></a>
</div>
{% endif %}
</div>
</div>
{% endblock %}
